body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-size: 100%;
    background-image: url(../image/tree.jpg);
}

.content {
    text-align: center;
}

.header {
    color: black;
    width: 35%;
    background-color: rgb(255, 255, 255);
    border: outset 15px white;
    padding: 10px;
}

.activity-description {
    color: white;
    background-color: rgb(47, 189, 47);
    width: 50%;
    border: outset 15px green;
    padding: 10px;
}

.homepage-link {
    color: gold;
    background-color: rgb(32, 180, 32);
    padding: 5px 10px;
    text-decoration: none;
}

.homepage-link:hover {
    background-color: rgb(20, 140, 20);
}
